<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="strRutaDestino" value="C:\HamiltonUnion\"/>
    <add key="strRutaOrigen1" value="Z:\"/>
    <add key="strRutaOrigen2" value="Y:\"/>
    <add key="strRutaOrigen3" value="X:\"/>

  </appSettings>
</configuration>